@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

:root {
  --max-width: 1400px;
  --border-radius: 12px;
  --font-mono: 'Roboto Mono', sans-serif;;
  --color-black:#3B434E;
  --color-gray: #7e7e82;
  --color-white:white;
  --color-primary:#7653FC;
  --color-red:#FC836D;
  --color-gold:#edc84b;
  --color-green:#1DC37E;
  --color-green-light:#C8F8E4;
  --color-background-primary:  rgba(237, 200, 75, 0.13);;
  --color-background-secondary: rgba(64, 161, 228, 0.3);
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-mono);
  color: #252525;
  font-weight: 400;
  /*background-color: #f7f2e9;*/
  background-color: antiquewhite;
  min-height: 100vh;
  padding: 2.2rem;
  padding-bottom: 6rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* *************** */

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 1.4rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #e9bb24;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
